<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
     <%- include('../includes/nav') %>
    <h1>This is the dashboard</h1>
    <h1>Welcome <%= user.name %> </h1>
</body>
</html>